.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin: 0;
  font-size: 0.9rem;
  color: #7f8fa6;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gros-chiffre {
  font-size: 6rem;
  font-weight: 800;
  margin: 10px 0;
  color: var(--primary-color);

  background: -webkit-linear-gradient(45deg, var(--primary-color), var(--accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}