/* src/app/ui/water-progress/water-progress.component.css */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin: 0;
  font-size: 0.9rem;
  color: #7f8fa6;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.gros-chiffre {
  font-size: 6rem; /* Très gros */
  font-weight: 800;
  margin: 10px 0;
  color: var(--primary-color);
  
  /* Un petit dégradé sur le texte (effet moderne) */
  background: -webkit-linear-gradient(45deg, var(--primary-color), var(--accent-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* Pour éviter que le dégradé casse si le navigateur est vieux, on garde une couleur de repli via 'color' au dessus */
}